<!-- EDIT CAMPGROUND -->

<% layout('layout/boilerplate') %>

	<div class="row">
		<h1 class="text-center">Edit Campground</h1>
		<div class="col-md-6 offset-md-3">
			<form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
	
				<div class="mb-3">
					<label for="title" class="form-label">Title</label>
					<input type="text" id="title" class="form-control" name="campground[title]" value="<%= campground.title %>" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
	
				<div class="mb-3">
					<label for="location" class="form-label">Location</label>
					<input type="text" id="location" class="form-control" name="campground[location]" value="<%= campground.location %>" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
	
				<div class="mb-3">
					<label for="price" class="form-label">Campground Price</label>
					<div class="input-group">
						<span class="input-group-text">$</span>
						<input type="text" id="price" class="form-control" name="campground[price]" value="<%= campground.price %>" aria-label="price" placeholder="0.00" required>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
	
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea type="text" id="location" class="form-control" name="campground[description]" required><%= campground.description %></textarea>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>

				<div class="mb-3 custom-file">
					<label for="formFileMultiple" class="form-label custom-file-label">Choose image(s)...</label>
					<input class="form-control" type="file" id="formFileMultiple" multiple name="image">
				</div>

				<div class="mb-3">
					<% campground.images.forEach(function(img, i) { %>
						<img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
						<div class="form-check-inline">
							<input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
						</div>
						<label for="image-<%= i %>">Delete?</label>
					<% }) %>
				</div>
	
				<div class="mb-3">
					<button class="btn btn-primary">Update Campground</button>
				</div>
				
			</form>
			<a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
		</div>
	</div>